/*
Name : Mariah Thomas
Date: 10-3-23
File name: style.class*/

/*CSS Reset */
body, header, nav, main, footer, h1, h3, h4, div, img, ul {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Style Rules for images and body */

img{
	max-width: 100%;
	text-align: left;
	display: block;	
}

body {
  background-color: forestgreen;
}

/* Style Rules for mobile viewport*/

/* Style rule for header */

header {
	background-color:forestgreen;
	color: beige;
	font-family: 'Rubik', sans-serif;
	font-size: 1.75em;
	text-align: center;
}

/* Style rules for navigation area */
nav{
	padding: 5%;
	text-align: center;
	margin-bottom:5%;
	font-family: 'Rubik', sans-serif;
}
nav ul{
	list-style-type: none;
	font-family: 'Rubik', sans-serif;
}

nav li {
	font-size: 1.5em;
	font-family: 'Rubik', sans-serif;
	border-top: 1px;

}
nav li a {
	display:block;
	color: beige;
	background-color: forestgreen;
  	text-decoration-color: blanchedalmond;
	padding: 5%;
	font-family: 'Rubik', sans-serif;
	font-size: 1.75em;
}


/* Style rules for main content */
main {
	background-color: forestgreen;
	color: beige;
	padding: 10%;
	font-family: 'Rubik', sans-serif;
	font-size: 1.0em;
	text-align: center;
	border-top-color: beige;
	border-top: 10px;
}

.round{
	border-radius: 30px;
}

#hobbies{
	font-family: 'Rubik', sans-serif;
}

.tel-link{
	background-color: forestgreen;
	padding: 2%;
	margin: 0 auto;
	width: 80%;
	text-align: center;	
	font-family: 'Rubik', sans-serif;
}

/* Style rules for footer content */
footer p {
	font-size: 1.0em;
	text-align: center;
	background-color: beige;
	color: forestgreen;
}

footer p a {
  color: forestgreen;
  text-decoration: none;
}


#contact {
  	text-align: center;
	font-family: 'Rubik', sans-serif;
}

#contact .contact-email-link {
	color: forestgreen;
	background-color:beige;
	text-decoration: none;
	font-family: 'Rubik', sans-serif;
}

.map {
	border: 2px;
	width: 95%;
	height: 50%;
}

/* Show mobile class, hid tablet-desktop class */
.mobile {
  display: block;
}

.tablet-desktop {
  display: none;
}

